@import "./partials/mixins", "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./img/harry-potter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

}

.center {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;

    .container {
        display: grid;
        width: $container-size;
        height: $container-size;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8, 1fr);
        place-content: center;
        font-size: $chess-size;
        text-align: center;
        box-shadow: 0 0 5px;
        

        .dark-block{
            background-color:  rgb(245, 189, 2);
        }
        .light-block{
            background-color: #530103;
        }
    }
}



// Animation~
.move1 {
  @include movement(1s,2s ,frame1 )
  }
  
  @keyframes frame1 {
    0% {
      left: 0px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: -9vmin;
    }
  }

  .move2 {
    @include movement(3s,2s ,frame2 )
  }
  
  @keyframes frame2 {
    0% {
      left: 0px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 18vmin;
    }
  }

  .move3 {
    @include movement(5s,2s ,frame3 )
  }
  
  @keyframes frame3 {
    0% {
      left: 0px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: -18vmin;
    }
  }

  .move4 {
    @include movement(6s,3s ,frame4 )
  }
  @keyframes frame4 {
    0% {
      left: 0px;
      top: 0px;
  
    }
    100% {
    left: 35vmin;
      top: 35vmin;
    }
  }
  
  .light {
    @include light-green(9s,30s,frame5)

  }
  @keyframes frame5 {
    0% {
      background-color: #530103;
    }
    1% {
      background-color: $color-scheme;
      }
    100% {
    background-color: $color-scheme;
    }
  }

  // .wrapper {
  //   /*This part is important for centering*/
  //   display: grid;
  //   place-items: center;
  // }
  
  // .checkmate {
  //   width: 10ch;
  //   animation: typing 2s steps(10), blink .5s step-end infinite alternate;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   border-right: .5vmin solid;
  //   font-family: monospace;
  //   color: white;
  //   font-size: 2em;
  //   margin: auto;
  //   position: relative;
  //   top: 50vmin;
  //   bottom: 50vmin; 
  //   color: #FFF;
  //   z-index:5;
  //   font-size: 5vmin;
  //   animation-delay: 10s;
    
  // }
  
  // @keyframes typing {
  //   from {
  //     width: 0;
  //     display: hidden;
  //   }
  // }
      
  // @keyframes blink {
  //   50% {
  //     border-color: transparent
  //   }
  // }

