* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(./img/harry-potter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.center .container {
  display: -ms-grid;
  display: grid;
  width: 70vmin;
  height: 70vmin;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  place-content: center;
  font-size: 6vmin;
  text-align: center;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.center .container .dark-block {
  background-color: #f5bd02;
}

.center .container .light-block {
  background-color: #530103;
}

.move1 {
  position: relative;
  -webkit-animation-name: frame1;
          animation-name: frame1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes frame1 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: -9vmin;
  }
}

@keyframes frame1 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: -9vmin;
  }
}

.move2 {
  position: relative;
  -webkit-animation-name: frame2;
          animation-name: frame2;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes frame2 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 18vmin;
  }
}

@keyframes frame2 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 18vmin;
  }
}

.move3 {
  position: relative;
  -webkit-animation-name: frame3;
          animation-name: frame3;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes frame3 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: -18vmin;
  }
}

@keyframes frame3 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: -18vmin;
  }
}

.move4 {
  position: relative;
  -webkit-animation-name: frame4;
          animation-name: frame4;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes frame4 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 35vmin;
    top: 35vmin;
  }
}

@keyframes frame4 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 35vmin;
    top: 35vmin;
  }
}

.light {
  -webkit-animation-name: frame5;
          animation-name: frame5;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

@-webkit-keyframes frame5 {
  0% {
    background-color: #530103;
  }
  1% {
    background-color: lime;
  }
  100% {
    background-color: lime;
  }
}

@keyframes frame5 {
  0% {
    background-color: #530103;
  }
  1% {
    background-color: lime;
  }
  100% {
    background-color: lime;
  }
}
/*# sourceMappingURL=styles.css.map */