$item-size: 8.75vmin;
$container-size: 70vmin;
$chess-size: 6vmin;
$border-size: 80vmin;

* {
    padding: 0px;
    margin: 0px;
    // box-sizing: border-box;
}

body {height: 100%; 
    overflow: hidden;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(./img/harry-potter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    width: $container-size;
    height:$container-size ;
    // border: 2vmin solid brown;
    box-shadow: 0 0 5px;
    

    .dark-block{
        background-color:  rgb(245, 189, 2);
        width: $item-size;
        height: $item-size;
        font-size: $chess-size;
        text-align: center;
        
    }

    .light-block{
        background-color: #530103;
        width: $item-size;
        height: $item-size;
        font-size: $chess-size;
        text-align: center;
        
    }
}