$item-size: 8.75vmin;
$container-size: 70vmin;
$chess-size: 6vmin;
$border-size: 80vmin;

* {
    padding: 0px;
    margin: 0px;
    // box-sizing: border-box;
}

body {height: 100%; 
    overflow: hidden;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.container{
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
    width: $container-size;
    height:$container-size ;
    border: 2vmin solid blue;
    

    .dark-block{
        background-color: rgb(36, 36, 173);
        width: $item-size;
        height: $item-size;
        font-size: $chess-size;
        text-align: center;
    }

    .light-block{
        background-color: rgb(201, 201, 250);
        width: $item-size;
        height: $item-size;
        font-size: $chess-size;
        text-align: center;
    }
}