@import "./partials/mixins", "./partials/variables";

* {
    padding: 0px;
    margin: 0px;
    // box-sizing: border-box;
}

body {height: 100%; 
    overflow: hidden;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(./img/harry-potter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    flex-wrap: wrap;
    display: flex;
    width: $container-size;
    height:$container-size ;
    box-shadow: 0 0 5px;
    

    .dark-block{
        background-color:  rgb(245, 189, 2);
        @include block();
        
    }

    .light-block{
        background-color: #530103;
        @include block();
        
    }
}